<table>
    <tr>
      <td><h2>Thank you! Your order has been successfully submited.</h2></td>
    </tr>
    <tr>
      <td><p>Your order will be delivered within 2 weeks.</p></td>
    </tr>
    <tr>
      <td><p>Order number: <strong><%= @order.id %></strong></p></td>
    </tr>
</table>

<table>
  <tr>
    <td>
      <p><strong>Order ID: </strong><%= @order.id %></p>
      <p><strong>Product Name: </strong><%= @order.product.name %></p>
      <p><strong>Product Color: </strong><%= @order.product.colour %></p>
    </td>
  </tr>
</table>

<table>
    <tr>
      <td>
        <p><strong>This email is created automatically. Please do not respond to this email.</strong></p>
        <p>If you need any help, please send to <%= mail_to "lukagrgic14@gmail.com"%></p>
      </td>
    </tr>
    <tr>
      <td><p>Planet Globula team!</p></td>
    </tr>
</table>
