<div class="container">
  <div class="sticky-top">
    <h1>Account details</h1>
      <% @users.each do |user| %>
        <strong>First name:</strong><p><%= user.first_name %></p>
        <strong>Last name:</strong><p><%= user.last_name %></p>
        <strong>Email:</strong><p><%= user.email %></p>
        <p><%= link_to 'Show', user %></p>
        <p><%= link_to edit_user_path(user) do %><span class="glyphicon glyphicon-pencil"></span><% end %></p>
        <p><%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span><% end %></p>
        <hr>
      <% end %>
    <br>
    <% if current_user.admin? %>
      <%= link_to 'New User', new_user_path, class: 'btn btn-danger red' %>
    <% end %>
  </div>
</div>
