<div class="container">
  <div class="sticky-top">
    <h1>Orders</h1>
  </div>
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail orders-page">
          <h1>Order # <%= order.id %>: <%= order.product.name %></h1>
          <%= link_to image_tag(order.product.image_url, class: "img-responsive"), order %>
          <p><%= order.product.description %></p>
          <strong>€ <%= order.product.price %></strong>
        </div>
      </div><!-- /col -->
    <% end %>
  </div>
</div>
