<div class="container">
  <div class="show-product">
    <div class="thumbnail orders-page">
      <h2>Order Details</h2>
      <strong>Order ID: </strong><%= @order.id %><br>
      <strong>Product Name: </strong><%= @order.product.name %><br>
      <%= image_tag(@order.product.image_url, class: "img-responsive") %>
      <strong>Product Price: </strong><%= number_to_currency(@order.product.price/1.to_f) %><br>
      <strong>Total Price: </strong><%= number_to_currency(@order.total/1.to_f) %><br>
    </div>
  </div>
</div>
