<div class="col-md-4">
  <div class="thumbnail">
    <%= link_to product do %>
  <%= image_tag(product.image_url, class: "img-responsive") if product.image_url%>
    <% end %>
    <strong>Product name:</strong><p><%= product.name %></p>
    <strong>Details:</strong><p><%= product.description %></p>
    <strong>Photo:</strong><p><%= product.image_url %></p>
    <strong>Color:</strong><p><%= product.colour %></p>
    <strong>Price €:</strong><p><%= product.price %></p>
  </div>
  <div class="product-buttons">
    <% if signed_in? && current_user.admin? %>
      <p><%= link_to edit_product_path(product) do %><span class="glyphicon glyphicon-pencil"></span><% end %></p>
      <p><%= link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span><% end %></p>
    <% end %>
    <p><%= link_to 'Show', product %></p>
  </div>
</div>
