<p id="notice"><%= notice %></p>
<div class="container">
  <div class="show-product">
    <div class="thumbnail">
      <p>
        <strong>Product name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @product.description %>
      </p>

      <p>Review score: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

      <p>
        <strong>Photo:</strong>
        <%= image_tag(@product.image_url, height: '350', class: "img-responsive show-photo img-zoom", data_zoom_image: "@product.product_image.url")%>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price €:</strong>
        <%= @product.price %>
      </p>
      <p>
      <strong><span style="font-size:20px;cursor:pointer" onclick="openNav()" class="see-reviews">See reviews</span></strong>
      </p>
      <!-- Stripe payments -->
      <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>

      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(@product) %>
      <% end %>
      <%= link_to 'Back', products_path %>
      <%= render 'new_comment' %>
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div id="main">
    <div class="thumbnail">
      <h2><span class="glyphicon glyphicon-ok-circle"><strong> Reviews</strong></span></h2>
      <hr>
      <div id="comments">
        <%= render 'comments' %>
      </div>
    </div>
    <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<script type="text/javascript">
    if (typeof(Storage) !== "undefined") {
        if(localStorage.getItem("sidebar") == "opened"){
            document.getElementById("mySidenav").style.width = "300px";
        }
    }
</script>
<%= javascript_include_tag 'reviews.js' %>
